html {
  background-color: white;
}
#root {
  padding: 1rem;
  background-color: white;
}

/* Tiny MCE */
.wrap-editor {
  width: calc(100vw - 32px);
  height: calc(100vh - 32px);
}
.mce-content-body {
  background-color: white;
  width: inherit;
  height: inherit;
}

.tox-tinymce {
  border-radius: 8px !important;
}
